*
{
    margin: 0;
}
h1.titulo
{
    text-align: center;
    background-color: greenyellow;
}
h1.titulo1
{
    text-align: center;
    background-color: grey;
}
h1.titulo2
{
    text-align: center;
    background-color: orange;
}
.container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.fila
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}
img
{
    width: 300px;
}
.texto
{
    padding: 5px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}


p
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    color: black;
}